*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    border-radius: 9px;
}

.container-slide{
    height: 50vh;
    width: 50vw;
    margin: 20vh auto;
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 0px 20px 30px black;
    background-color: black;
}

.container-itens{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 9px;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 50vw;
    height: 50vh;
}

.action-button{
 font: bold 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 20px;
 color: #00000000;
 user-select: none;
 z-index: 1;
}

.action-button:hover{
    color: white;
    background-color: #00000099;
    border-radius: 9px;
    cursor: pointer;
    transition: all 1s;
}
